package components

import (
    "fmt"
    "github.com/mhs294/mulhall/internals/types"
    "strings"
)

templ TeamButton(team types.Team) {
    <button class={ fmt.Sprintf("flex items-center logo-button %s", strings.ToLower(team.Shorthand)) }>
        <img class="logo-button-img" src={ fmt.Sprintf("/static/img/%s.webp", strings.ToLower(team.Shorthand)) } />
        <p class="text-3xl">{ fmt.Sprintf("%s", strings.ToUpper(team.Name)) }</p>
    </button>
}