package views

import (
    "github.com/mhs294/mulhall/views/components"
)

templ Login() {
    <!DOCTYPE html>
    <html lang="en">
        @components.Header()
        <body>
            <main class="min-h-screen w-full">
                <div class="mt-6 w-full flex justify-center items-center flex-col">
                    You are at the Login screen, bruv
                </div>
                <div class="mt-12 w-full"></div>
            </main>
        </body>
    </html>
}